<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix=".php">./tests/Feature</directory>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix=".php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
